<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/torrentclient2/src/tracker/RUBTClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tracker.RUBTClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="project2.torrent &quot;Adventure Club feat. Krewella - Rise &amp; Fall (KREWELLA REMIX).mp3&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="torrentclient2"/>
</launchConfiguration>
